<div class="tasks-container">

  <h2>👤 My Tasks</h2>

  <div class="section-card">

    <table>

      <thead>

        <tr>

          <th>ID</th>

          <th>Title</th>

          <th>Description</th>

          <th>Status</th>

          <th>Project</th>

        </tr>

      </thead>

      <tbody>

        <tr
          *ngFor="let task of tasks">

          <td>
            {{ task.id }}
          </td>

          <td>
            {{ task.title }}
          </td>

          <td>
            {{ task.description }}
          </td>

          <td>

            <span
              [ngClass]="{
                'status-todo': task.status === 'TODO',
                'status-progress': task.status === 'IN_PROGRESS',
                'status-done': task.status === 'DONE'
              }">

              {{ task.status }}

            </span>

          </td>

          <td>
            {{ task.projectName }}
          </td>

        </tr>

      </tbody>

    </table>

    <div
      *ngIf="tasks.length === 0"
      class="empty-state">

      No tasks assigned yet.

    </div>

  </div>

</div>